.myStyle{
    background-color: transparent;
    color: #fcce00;
}

.navbar-dark .navbar-brand {
    color: #fcce00;
    font-size: x-large;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fcce00;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fcce00;
    font-size: large;
}

h2 {
    padding: 7px;
    color: #fcce00;
    white-space: pre-line;
    text-align: center;
    margin: 7px;
}

.level1 {
    margin-top: 80px;
    /*text-align: center;*/
    /*justify-content: center;*/
    /*height: 10em;*/
    /*display: flex;*/
    /*align-items: center;*/
}
/*.purple-btn {*/
/*    color: mediumpurple;*/
/*    border: 1px solid mediumpurple;*/
/*}*/
/*.purple-btn {*/
/*    background-color: mediumpurple;*/
/*    color: lavenderblush;*/
/*    border: 1px solid mediumpurple;*/
/*}*/

#searchRes {
    text-align: center;
    color: mediumpurple;
}


h3, h4 {
    text-align: left;
    color: #ffbf67;
}

h5 {
    text-align: left;
    color: #fcce00;
}
/*h5 a {*/
/*    color: #ffacb6;*/

/*}*/
/*h5 a:hover {*/
/*    color: #5cc6e3;*/
/*}*/

.search, .downloadFile {
    /*text-align: center;*/
    margin: auto;
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

/*#searchBtn{*/
/*    position: absolute;*/

/*}*/

.searchBar {
    width: 86%;
}

#selector, #chooseFile{
    margin-right: auto;
}

#selectall, #deselectall {
    margin-bottom: 5px;
}

#download, #fileName, #fileType {
    width: min-content;
    margin-bottom: 5px;

}

.col-sm-8 {
    border: none;
    /*border-radius: 20px;*/
    padding: 25px;
    background: floralwhite;
    overflow-wrap: break-word;
}


h2 a {
    padding: 0px;
    color: #fcce00;
    white-space: pre-line;
    text-align: center;
    /*border-style: wave;*/
    border: 6px solid #fcce00;
    /*border-radius: 20px;*/
    padding: 5px;
}

h2 a:hover{
    text-decoration: none;
    color: #fcce00;
    border: 7px solid #fcce00;
}

.email{
    margin-top: 190px;

}

#content-container{
    text-align: center;
    /*background-color: darkseagreen;*/
}

img {
    width: 150px;
    height: auto;
    text-align: center;

    margin-top: 130px;
    justifyContent: 'center',
}
