.App {
  /*text-align: center;*/
  background-color: darkseagreen;
}

.App-header {
  /*background-color: darkseagreen;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/*Change the background color of the <body> element to "lightblue" when the browser window is 600px wide or less:*/
@media only screen and (max-width: 600px) {
  .App {
    background-color: lightblue;
  }
}